<div class="content border">
    <div class="header">
        <div class="img">
            <img src = "./../../../assets/logo/mercadona-logo.svg" alt="My Happy SVG"/>
        </div>
        <div class="sesion"> 
            <button *ngIf="!accede" class="btn" mat-raised-button (click)="sessionStart()">
                Iniciar Sesión
            </button>
            <button *ngIf="accede" class="btn" mat-raised-button (click)="sessionStop()">
                Cerrar Sesión
            </button>
        </div>
    </div>
</div>