@import "./../../scss/var.scss";
.border{
    border: solid black;
    border-width: 1px 1px 1px 1px;
    
    border-bottom: solid 1px var(--mercadona);
    color: var(--black);
}

.size{
    height: 600px;
}




