.border{
    border: solid var(--black);
    border-width: 1px 1px 1px 1px;
    
    border-bottom: solid 1px var(--mercadona);
}

.size{
    height: 600px;
}

.header {  
    padding: 2rem;
    height: 50px;
}

.img {
    float:left;
}

.sesion {
    float:right;
}


button{
    background-color: var(--sesion);
    color: var(--white);
  }

