<p>review-products works!</p>

<div class="center">
    <mat-card *ngFor="let product of productsToReview" class="sizeCard">
        <mat-card-header>
            <mat-card-title>{{product.name}}</mat-card-title>
            <mat-card-subtitle>{{product.units}} por revisar</mat-card-subtitle>
        </mat-card-header>
        <mat-card-actions class="center">
            <button mat-raised-button>
                <mat-icon>remove_red_eye</mat-icon>
                Revisar
            </button>
        </mat-card-actions>
    </mat-card>
</div>

<app-show-products></app-show-products>