table {
    width: 100%;
}

button{
  background-color: var(--mercadona);
  color: var(--white);
}

.configuration{
  width: max-content;
}

.right{
  float: right;
  margin: 0.5rem;
}

.left{
  float: left;
  margin: 0.5rem;
}


.bordes{
    border-left: solid 1px var(--black);
    border-right: solid 1px var(--black);
    border-bottom: solid 1px var(--black);
}


.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 550px;
  }



.tableSpaced{
    padding: 1rem;
}

#div1 {
    overflow-y:scroll;
    height:320px;
}


#div1::-webkit-scrollbar {
    width: 12px;               
  }
  
  #div1::-webkit-scrollbar-track {
    background: var(--white);        
  }
  
  #div1::-webkit-scrollbar-thumb {
    background-color: var(--mercadona);    
    border-radius: 20px;       
    border: 3px solid var(--white);  
  }
  
  #div1 {
    scrollbar-width: thin;          
    scrollbar-color: var(--mercadona) var(--white);   
  }






th.mat-header-cell {
    position: sticky;
    top: 0;
    background-color: white;
}

.footer{
    text-align: right;
    position: sticky;
    bottom: 0;
    width: 100%;
    border-top: solid 1px var(--mercadona);
}

