.border{
    border: solid 1px black;
    width: 80%;
}

.size{
    height: 600px;
}

.borderGreen{
    border-top: solid 1px var(--mercadona);
    border-bottom: solid 1px var(--mercadona);
}

.footer{
    padding: 0.5rem;
    text-align: right;
}
