<app-header></app-header>
<div class=" espacio center bordes">
    <mat-card class="sizeCard">
        <mat-card-header>
            <mat-card-title>Tornillos</mat-card-title>
            <mat-card-subtitle>{{productsToReview}} por revisar</mat-card-subtitle>
        </mat-card-header>
        <mat-card-actions class="center">
            <button mat-raised-button (click)="showProducts()">
                <mat-icon>remove_red_eye</mat-icon>
                Revisar
            </button>
        </mat-card-actions>
    </mat-card>
</div>
