.center{
        display: flex;
        justify-content: center;
        align-items: center;
}

.espacio {
    padding: 3rem;
}

.sizeCard{
    width: 20rem;
}

.bordes{
    border-left: solid 1px var(--black);
    border-right: solid 1px var(--black);
    border-bottom: solid 1px var(--black);
}