<p>add-products works!</p>
<div class="container">
    <form [formGroup]="form" novalidate (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label>Name:</label>
            <input class="form-control ancho" formControlName="name" type="text">
        </div>
        <div class="seleccion ancho">
            <div class="anchoMitad">
            <label>Precio</label>
                <div class="number-input ancho">
                    <button type="button" (click)="restar()" class="minus"></button>
                    <input class="quantity" min="0" name="quantity" step="any" value="{{valor}}" type="number" formControlName="precio">
                    <button type="button" (click)="sumar()" class="plus"></button>
                </div>
            </div>
            
            <div class="anchoMitad">
                <label>Formato</label>
                <div class="">
                    <mat-form-field appearance="fill" class="ancho"  >
                    <mat-select formControlName="formato">
                        <mat-option *ngFor="let formato of formatos" [value]="formato.value"  >
                        {{formato.viewValue}}
                        </mat-option>
                    </mat-select>
                    </mat-form-field>
                </div>
            </div>
        </div>
         <div class="form-group">
            <label>Marca:</label>
            <input class="form-control ancho" formControlName="marca" type="text">
        </div>
        
        <button type="button" class="btnDanger left" mat-raised-button (click)="close()">
            Cancelar
        </button>

        
        <button type="submit"
            [disabled]="form.invalid" class="btn right" mat-raised-button (click)="add()">
            Guardar
        </button>
  </form>









    <!-- <form [formGroup]="form" novalidate>
        <div class="form-group">
            <div class="name">
                <h4>Nombre</h4>
                <input class="ancho" name="name" type="text" formControlName="name" required>
            </div>
        
            <!-- <div *ngIf="angForm.controls['name'].invalid && (angForm.controls['name'].dirty || angForm.controls['name'].touched)" class="alert alert-danger">
                <div *ngIf="angForm.controls['name'].errors.required">
                Name is required.
            </div>
            </div> 
        
        </div>

        <button type="submit"
            [disabled]="form.invalid" class="btn btn-success">
            Save
        </button>
    </form> -->


    

    <div class="seleccion ancho">
        <div class="anchoMitad">
        <h4>Precio</h4>
            <div class="number-input ancho">
                <button (click)="restar()" class="minus"></button>
                <input class="quantity" min="0" name="quantity" step="any" value="{{valor}}" type="number">
                <button (click)="sumar()" class="plus"></button>
            </div>
        </div>
        
        <div class="anchoMitad">
            <h4>Formato</h4>
            <div class="">
                <mat-form-field appearance="fill" class="ancho">
                <mat-select>
                    <mat-option *ngFor="let formato of formatos" [value]="formato.value" formControlName="formato" required>
                    {{formato.viewValue}}
                    </mat-option>
                </mat-select>
                </mat-form-field>
            </div>
        </div>
    </div>
    

    <div class="marca">
        <h4>Marca</h4>
        <input class="ancho" name="marca"  type="text" formControlName="marca" required>
    </div>

    <div class="footer">
        
        <button class="btnDanger left" mat-raised-button (click)="close()">
            Cancelar
        </button>

        
        <button class="btn right" mat-raised-button (click)="add()">
            Guardar
        </button>
    </div>

 

    <!-- <mat-form-field>
        <input matInput [(ngModel)]="valor1" type="number" placeholder="Ingrese primer valor">
      </mat-form-field>
    
      <mat-form-field>
          <input matInput [(ngModel)]="valor2" type="number" placeholder="Ingrese segundo valor">
      </mat-form-field>
      
      <button mat-raised-button color="primary" (click)="sumar()">Sumar</button> -->
</div>